.help-block {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .086em;
  position: relative;
  top: -1em;
}

.form-group {
  margin-bottom: .5em;
}

nav {
  margin-bottom: 2em;
}
